.inputComponent {
    display: flex;
    flex-direction: column;
    gap: 0 !important;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.inputComponent p {
    text-align: center;
    font-size: 1.25rem;
}

input,
textarea {
    display: flex;
    background-color: var(--primary-contrast-color-3);
    border: 1px solid var(--primary-contrast-color-blur);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0.75rem 1rem;
    border-radius: 12px;
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
}

input:focus,
textarea:focus {
    outline: none;
    border: 2px solid var(--link-hover-color);
}

input::placeholder,
textarea::placeholder {
    color: var(--primary-color-3);
    opacity: 1;
    text-align: center;
}

.inputLabel {
    font-size: 1rem !important;
    margin-bottom: 0rem;
}
