img {
    border-radius: 0.5rem;
    object-fit: fill;
}

img.landscape {
    width: 20rem;
    height: 12.5rem;
}

img.portrait {
    width: 12rem;
    height: 24rem;
}

img.auto {
    width: auto;
    height: auto;
    max-height: 50vh;
}

div.portrait {
    flex-direction: row;
    overflow: auto;
    max-width: 12rem;
}

div.landscape {
    flex-direction: row;
    overflow: auto;
    max-width: 20rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-contrast-color-2);
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    width: 100%;
}

.project-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-images {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 0.5rem;
    margin-top: 1rem;
}

.project-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    max-width: 30rem;
}

p {
    text-align: justify;
}

.project-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

@media (max-width: 1024px) {
    .project-content {
        flex-direction: column;
    }
    .project-details {
        max-width: 100%;
    }
    .project-tags {
        justify-content: center;
        align-items: center;
    }
    p {
        text-align: center;
    }
}
