.profilePicture {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    object-fit: cover;
}

.tagContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}
