.icon {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.linksContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.linksContainer Button {
    border-radius: 50%;
    padding: 0.5rem;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.submitButton button {
    width: 100%;
}

.contactMeSection {
    background-color: var(--primary-contrast-color-2);
    padding: 2rem;
    padding-top: 0 !important;
    min-width: 50vw;
    border-radius: 1rem;
}

.chatChoiceSection {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.backButtonSection {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    width: 100%;
    margin-top: 2rem;
}

.backButtonSection h3 {
    grid-column: 2 / 3;
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
}

.backButtonSection button {
    width: fit-content;
}

@media (max-width: 768px) {
    .contactMeSection {
        min-width: 70vw;
    }
}
