.icon {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.linksContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.linksContainer Button {
    border-radius: 50%;
    padding: 0.5rem;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.submitButton button {
    width: 100%;
}

.contactMeSection {
    background-color: var(--primary-contrast-color-2);
    padding: 2rem;
    padding-top: 0 !important;
    min-width: 50vw;
    border-radius: 1rem;
}

@media (max-width: 768px) {
    .contactMeSection {
        min-width: 70vw;
    }
}