:root {
    --primary-color: hsl(5, 10%, 95%);
    --primary-color-2: hsl(5, 10%, 90%);
    --primary-color-3: hsl(5, 10%, 85%);
    --primary-contrast-color: hsl(210, 10%, 20%);
    --primary-contrast-color-2: hsl(210, 10%, 25%);
    --primary-contrast-color-3: hsl(210, 10%, 30%);
    --primary-contrast-color-4: hsl(210, 10%, 35%);
    --primary-contrast-color-blur: hsla(210, 10%, 15%, 0.7);

    --link-color: #2ab7ea;
    --link-hover-color: #1f97c2;
    --user-message-bg-color: #006e96;

    --button-bg-color: rgba(204, 204, 204, 0.5);
    --button-select-bg-color: rgba(27, 71, 94, 0.5);

    --gradient-color-1: #a1ffe2;
    --gradient-color-2: #a1ffe2;
    --gradient-color-3: #caf0f8;
    --gradient-color-4: #81a2e5;
}

:root {
    font-family: "SF Pro Display", system-ui, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--primary-color);
    background-color: var(--primary-contrast-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background: var(--button-bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 90px;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    background-color: var(--button-select-bg-color);
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        --primary-color: hsl(210, 10%, 20%);
        --primary-color-2: hsl(210, 10%, 25%);
        --primary-color-3: hsl(210, 10%, 30%);
        --primary-contrast-color: hsl(5, 10%, 80%);
        --primary-contrast-color-2: hsl(5, 10%, 85%);
        --primary-contrast-color-3: hsl(5, 10%, 90%);
        --primary-contrast-color-4: hsl(5, 10%, 95%);
        --primary-contrast-color-blur: hsla(5, 10%, 95%, 0.7);

        --button-bg-color: rgba(204, 204, 204, 0.5);
        --button-select-bg-color: rgba(112, 196, 242, 0.5);

        --user-message-bg-color: #8fd3f4;
    }
}

.App {
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

section {
    opacity: 0;
    animation: fadeOut 1s ease-in forwards;
}

section.visible {
    opacity: 1;
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
